body {
    font-family: Arial, sans-serif;
    background-color: black;
  
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #eebcbc;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h1 {
    margin: 0;
    font-weight: bold;
    color: #333;
}

#add-task-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #3e8e41;
}

.task-form {
    padding: 20px;
}

#task-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#task-priority {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task:last-child {
    border-bottom: none;
}

.task-completed {
    text-decoration: line-through;
    color: #999;
}

.delete-btn {
    background-color: #ff69b4;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.delete-btn:hover {
    background-color: #ff3737;
}

.complete-btn {
    background-color: #8bc34a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.complete-btn:hover {
    background-color: #689f38;
}

footer {
    padding: 10px;
    border-top: 1px solid #ccc;
}

#task-count {
    margin: 0;
    font-size: 16px;
    color: #666;
}

#clear-completed-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-completed-btn:hover {
    background-color: #c0392b;
}